icdia_xfer/
oldICDIA/
jorg/
.gitnew/
cdprosupport/files/mac/
cdprosupport/files/os9/
cdprosupport/files/pc/
cdprosupport/files/sun/
orig/
*.jpg
*.png
*.gif
*.pdf
*.zip
*.rar
*.lzh
*.swp
*.jbf
*.sea
*.sit
*.exe
*.rtf
*.tar
*.mpg
*.dsk
*.ps
*.db
*.7z
